<body>

  <app-header></app-header>

  <div class="cadastro-paciente">
    <div class="alto-relevo">


      <form class="formResponsive" id="cadastrarPaciente" #registrar="ngForm" (ngSubmit)="registrar.form.valid && registrarPaciente(pacienteForm)" #pacienteForm="ngForm">
        <h2 class="espacamento">Cadastro de Paciente</h2>
        <div class="form-paciente espacamento">

          <div>
            <div class="form-outline mb-2">
              <label class="form-label" for="nome">Nome completo</label>
              <input type="text" id="nome" class="form-control form-width" [(ngModel)]="paciente.nome" name="nome"
                ngDefaultControl #nome="ngModel" required maxlength="30"
                [ngClass]="{'error' : nome.errors && nome.touched}" autocomplete="off" placeholder="Nome completo do paciente"/>
            </div>

            <div class="form-outline mb-2">
              <label class="form-label" for="cpf">CPF</label>
              <input type="text" id="cpf" class="form-control form-width" [(ngModel)]="paciente.cpf" name="cpf"
                ngDefaultControl #cpf="ngModel" required maxlength="18"
                [ngClass]="{'error' : cpf.errors && cpf.touched}" autocomplete="off" placeholder="CPF do paciente" mask="CPF_CNPJ"/>
            </div>

            <!-- <div class="form-outline mb-2">
              <label class="form-label" for="cpf">CPF</label>
              <Input type="name" id="cpf" class="form-control form-width" [(ngModel)]="paciente.cpf" name="cpf"
                ngDefaultControl #cpf="ngModel" required maxlength="18"
                [ngClass]="{'error' : cpf.errors && cpf.touched}" autocomplete="off" placeholder="CPF do paciente" mask="CPF_CNPJ"/>
            </div> -->

            <div class="form-outline mb-2">
              <label class="form-label" for="email">E-mail</label>
              <Input type="email" id="email" class="form-control form-width" [(ngModel)]="paciente.email" name="email"
                ngDefaultControl #email="ngModel" required maxlength="55"
                [ngClass]="{'error' : email.errors && email.touched}" autocomplete="off"
                placeholder="E-mail do paciente">
            </div>

            <div class="form-outline mb-2">
              <label class="form-label" for="dataNascimento">Data de Nascimento</label>
              <input type="date" id="dataNascimento" class="form-control form-width" [(ngModel)]="paciente.dataNascimento" name="dataNascimento"
                ngDefaultControl #dataNascimento="ngModel"
                required [ngClass]="{'error' : dataNascimento.errors && dataNascimento.touched}" autocomplete="off"
                placeholder="Data de nascimento do paciente" />
            </div>
          </div>

          <div class="form-paciente2">
            <div class="form-outline mb-2">
              <label class="form-label" for="cep">CEP</label>
              <input type="text" id="cep" class="form-control form-cep" [(ngModel)]="paciente.cep" name="cep"
                ngDefaultControl #cep="ngModel" required [ngClass]="{'error' : cep.errors && cep.touched}"
                autocomplete="off" placeholder="CEP do paciente" mask="00000-000" />
            </div>

            <div class="form-outline mb-2 form-address">
              <div class="form-endereco-duplo">
                <label class="form-label" for="rua">Endereço</label>
                <input type="text" id="rua" class="form-control form-endereco" [(ngModel)]="paciente.rua" name="rua"
                  ngDefaultControl #rua="ngModel"  [ngClass]="{'error' : rua.errors && rua.touched}"
                  autocomplete="off" placeholder="Endereço do paciente" />
              </div>

              <div class="form-endereco-duplo">
                <label class="form-label" for="numero">Número</label>
                <input type="text" id="numero" class="form-control form-numero" [(ngModel)]="paciente.numero"
                  name="numero" ngDefaultControl #numero="ngModel"  maxlength="4"
                  [ngClass]="{'error' : numero.errors && numero.touched}" autocomplete="off" placeholder="Nº" />
              </div>
            </div>

            <div class="form-outline mb-2 form-address">
              <div class="form-endereco-duplo">
                <label class="form-label" for="complemento">Complemento</label>
                <input type="address-complemento" id="complemento" class="form-control form-complemento"
                  [(ngModel)]="paciente.complemento" name="complemento" ngDefaultControl #complemento="ngModel"
                  [ngClass]="{'error' : complemento.errors && complemento.touched}" autocomplete="off"
                  placeholder="Complemento" />
              </div>

              <div class="form-endereco-duplo">
                <label class="form-label" for="bairro">Bairro</label>
                <input type="address-bairro" id="bairro" class="form-control form-bairro" [(ngModel)]="paciente.bairro"
                  name="bairro" ngDefaultControl #bairro="ngModel" 
                  [ngClass]="{'error' : bairro.errors && bairro.touched}" autocomplete="off" placeholder="Bairro" />
              </div>
            </div>

            <div class="form-outline mb-2 form-address">
              <div class="form-endereco-duplo">
                <label class="form-label" for="estado">Estado</label>
                <input type="address-estado" id="estado" class="form-control form-estado" [(ngModel)]="paciente.estado"
                  name="estado" ngDefaultControl #estado="ngModel" 
                  [ngClass]="{'error' : estado.errors && estado.touched}" autocomplete="off" placeholder="Estado"
                  mask="SS" />
              </div>

              <div>
                <label class="form-label" for="cidade">Cidade</label>
                <input type="address-cidade" id="cidade" class="form-control form-cidade" [(ngModel)]="paciente.cidade"
                  name="cidade" ngDefaultControl #cidade="ngModel" 
                  [ngClass]="{'error' : cidade.errors && cidade.touched}" autocomplete="off" placeholder="Cidade" />
              </div>
            </div>
          </div>
        </div>

        <div class="text-center pt-1 mb-5 pb-1 cadastrar espacamento">
          <button class="btn btn-block fa-lg custombutton" type="submit"
          [disabled]="registrar.form.status === 'INVALID'"
            routerLinkActive="selected">Cadastrar</button>
        </div>


      </form>
    </div>
  </div>

  <app-footer></app-footer>

</body>