<body>
    <app-header></app-header>

    <div class="pacientes-search">

        <div class="text-search">
            <div class="text-search2">
                <label for="pacientes-table"></label>
                <input class="input-search form-control" type="search" placeholder="Pesquisar" autocomplete="off" mask="CPF_CNPJ" [(ngModel)]="cpfPesquisa">
            </div>
                <button type="button" class="btn button-search" (click)="visualizarProntuario()">Pesquisar</button>
        </div>

        <div class="tabela">
            <section class="intro">
                <div class="bg-image h-100" style="background-color: #DAE3E5;">
                  <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-body p-0">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 500px">
                                <table class="table table-striped mb-0">
                                  <thead style="background-color: #10203c;">
                                    <tr>
                                      <th scope="col">CPF Paciente</th>
                                      <th scope="col">Ínicio do tratamento</th>
                                      <th scope="col">Tipo de doença</th>
                                      <th scope="col">Gravidade</th>
                                      <th scope="col">Medicamento</th>
                                      <th scope="col">Observações</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let pront of Prontuario; index as i; first as isFirst">
                                      <td>{{pront.cpfProntuario}}</td>
                                      <td>{{pront.inicioTratamento}}</td>
                                      <td>{{pront.tipoDoenca}}</td>
                                      <td>{{pront.gravidade}}</td>
                                      <td>{{pront.medicamento}}</td>
                                      <td>{{pront.observacoes}}</td>
                                    </tr>                               
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>
