<body>
    
    <app-header></app-header>

    <div class="pacientes-search">

        <div class="text-search">
            <div class="text-search2">
                <label for="pacientes-table"></label>
                <input class="input-search form-control" type="search" placeholder="Pesquisar paciente via CPF"  [(ngModel)]="cpfPesquisa" autocomplete="off" mask="CPF_CNPJ">
            </div>
                <button type="button" class="btn button-search" (click)="visualizarPaciente()">Pesquisar</button>
        </div>

        <div class="tabela">
            <section class="intro">
                <div class="bg-image h-100" style="background-color: #DAE3E5;">
                  <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-body p-0">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 500px;">
                                <table class="table table-striped mb-0">
                                  <thead style="background-color: #10203c;">
                                    <tr>
                                      <th scope="col">Nome</th>
                                      <th scope="col">CPF</th>
                                      <th scope="col">Data de Nascimento</th>
                                      <th scope="col">E-mail</th>
                                      <th scope="col">CEP</th>
                                      <th scope="col">Cidade</th>
                                      <th scope="col">Estado</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let pac of Paciente; index as i; first as isFirst">
                                      <td>{{pac.nome}}</td>
                                      <td>{{pac.cpf}}</td>
                                      <td>{{pac.dataNascimento}}</td>
                                      <td>{{pac.email}}</td>
                                      <td>{{pac.cep}}</td>
                                      <td>{{pac.cidade}}</td>
                                      <td>{{pac.estado}}</td>
                                    </tr>                         
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>

    <app-footer></app-footer>

</body>