<body>
    
    <app-header></app-header>

    <div class="pacientes-search">

        <div class="text-search">
            <div class="text-search2">
                <label for="pacientes-table"></label>
                <input class="input-search form-control" type="search" placeholder="Pesquisar" autocomplete="off">
            </div>
                <button type="button" class="btn button-search">Pesquisar</button>
        </div>

        <div class="tabela">
            <section class="intro">
                <div class="bg-image h-100" style="background-color: #DAE3E5;">
                  <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-body p-0">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 500px">
                                <table class="table table-striped mb-0">
                                  <thead style="background-color: #10203c;">
                                    <tr>
                                      <th scope="col">Nome</th>
                                      <th scope="col">Idade</th>
                                      <th scope="col">CPF</th>
                                      <th scope="col">E-mail</th>
                                      <th scope="col">Endereço</th>
                                      <th scope="col">Número</th>
                                      <th scope="col">CEP</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                    </tr>
                                    <tr>
                                      <td>Mind &amp; Body</td>
                                      <td>Yoga</td>
                                      <td>8:00 AM - 9:00 AM</td>
                                      <td>Adam Stewart</td>
                                      <td>15</td>
                                    </tr>
                                    <tr>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                      <td>Sim</td>
                                    </tr>                             
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>

    <app-footer></app-footer>

</body>