header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #10203c;
    color: white;
    align-items: center;
}


#header {
    color: white;
    background-color: #10203c;
    margin: 10px;
    border: 0;
}

#header:hover {
    transform: scale(1.1);
    color: #A1C6EA;
    transition: 0.2s;
}

button {
    font-size: larger;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #10203c;
    width: 200px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #A1C6EA;
    transform: scale(1.1);
    transition: 0.2s;
}

.dropdown:hover .dropdown-content {
    display: block;
}