<div class="home">
    <div class="header">
        <img src="/assets/images/Logo.png" alt="" width="70px" height="70px">
        <header>
            <button type="button" id="header" routerLink="/home">Home</button>
        
            <div class="dropdown">
                <button type="button" id="header" class="dropdown-toggle">Pacientes</button>
                <div class="dropdown-content">
                    <a routerLink="/CadastroPacientes">Cadastrar Pacientes</a>
                    <a routerLink="/VisualizarPaciente">Visualizar Pacientes</a>
                </div>
            </div>

            <div class="dropdown">
                <button type="button" id="header" routerLink="/prontuario" class="dropdown-toggle">Prontuário Médico</button>
                <div class="dropdown-content">
                    <a routerLink="/GerarProntuario">Gerar Prontuário</a>
                    <a routerLink="/VisualizarProntuario">Visualizar Tratamentos</a>
                </div>
            </div>
            
            <button type="button" id="header" routerLink="/perfil">Perfil</button>
            
            <button type="button" id="header" routerLink="/login">Sair</button>

        </header>