header {
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content: center;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #10203c;
    color: white;
    align-items:center;
}


#header {
    color: white;
    background-color: #10203c;
    margin: 10px;
    border: 0;
    transition: .2s;
}

#header:hover {
    transform: scale(1.2);
    color: #A1C6EA;
}

button {
    font-size: larger;
}