<body>

  <app-header></app-header>

  <div class="prontuario-medico">
    <div class="alto-relevo">


      <form #gerarPront="ngForm" (ngSubmit)="gerarPront.form.valid && gerarProntuario(prontuarioForm)" #prontuarioForm="ngForm" class="dale">
         
        <h2 class="espacamento">Prontuário Médico</h2>
        <div class="form-prontuario">

          <div>
            <div class="form-outline mb-2">
              <label class="form-label" for="nomeProntuario">Nome completo</label>
              <input type="text" id="nomeProntuario" class="form-control form-width" autocomplete="off"
                [(ngModel)]="prontuario.nomeProntuario" nome="nomeProntuario" ngDefaultControl #nomeProntuario="ngModel" required maxlength="42"
                [ngClass]="{'error' : nomeProntuario.errors && nomeProntuario.touched}" placeholder="Nome completo do paciente" />
            </div>

            <div class="form-outline mb-2">
              <label class="form-label" for="inicioTratamento">Início do tratamento</label>
              <Input type="date" id="inicioTratamento" class="form-control form-width" autocomplete="off"
                [(ngModel)]="prontuario.inicioTratamento" nome="inicioTratamento" ngDefaultControl
                #inicioTratamento="ngModel" required
                [ngClass]="{'error' : inicioTratamento.errors && inicioTratamento.touched}">
            </div>

            <div class="form-outline mb-2">
              <label class="form-label" for="tipoDoenca">Tipo de doença</label>
              <select type="form" id="tipoDoenca" class="form-control form-width" autocomplete="off"
                placeholder="Tipo de efermidade do paciente" [(ngModel)]="prontuario.tipoDoenca" nome="tipoDoenca"
                ngDefaultControl #tipoDoenca="ngModel" required maxlength="42"
                [ngClass]="{'error' : tipoDoenca.errors && tipoDoenca.touched}">
                <option><input type="text" placeholder="Tipo de efermidade do paciente">-</option>
                <option>Transtorno bipolar</option>
                <option>Transtorno obsessivo-compulsivo (TOC)</option>
                <option>Distúrbios alimentares</option>
                <option>Transtornos de Ansiedade</option>
                <option>Esquizofrenia</option>
                <option>Somatização</option>
              </select>
            </div>

            <div class="form-outline mb-2">
              <label class="form-label" for="gravidade">Gravidade</label>
              <select type="form" id="gravidade" class="form-control form-width" autocomplete="off"
                placeholder="Gravidade do paciente" [(ngModel)]="prontuario.gravidade" nome="gravidade" ngDefaultControl
                #gravidade="ngModel" required [ngClass]="{'error' : gravidade.errors && gravidade.touched}">
                <option><input type="text" placeholder="Gravidade do paciente">-</option>
                <option>Baixa</option>
                <option>Média</option>
                <option>Alta</option>
                <option>Muito alta</option>
              </select>
            </div>
          </div>

          <div class="form-prontuario2">
            <div class="form-outline mb-2">
              <label class="form-label" for="medicamento">Medicamento</label>
              <textarea name="medicamento" id="medicamento" cols="30" rows="10" wrap="hard"
                class="form-control form-width medicamento" autocomplete="off"
                placeholder="Insira algum medicamento se necessário" style="resize: none"
                [(ngModel)]="prontuario.medicamento" nome="medicamento" ngDefaultControl #medicamento="ngModel" required
                [ngClass]="{'error' : medicamento.errors && medicamento.touched}"></textarea>
            </div>

          </div>


        </div>

        <div class="form-outline mb-2 espacamento">
          <label class="form-label" for="observacoes">Observações</label>
          <textarea name="observacoes" id="observacoes" cols="30" rows="10" wrap="hard"
            placeholder="Observações que se tem com o estado do paciente" class="form-control form-width observacoes"
            autocomplete="off" style="resize: none" [(ngModel)]="prontuario.observacoes" nome="observacoes"
            ngDefaultControl #observacoes="ngModel" required
            [ngClass]="{'error' : observacoes.errors && observacoes.touched}"></textarea>

        </div>

        <div class="text-center pt-1 mb-5 pb-1 cadastrar espacamento">
          <button class="btn btn-block fa-lg custombutton" type="submit">Gerar Prontuário</button>
        </div>

      </form>
    </div>
  </div>

  <app-footer></app-footer>

</body>