.prontuario-medico {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #10203c;
    padding: 100px 100px;
}

.alto-relevo {
    flex-direction: column;
    height: 700px;
    width: 1000px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    
}

h2{
    font-size: xx-large;
    padding-top: 50px;
}

form {
    padding-right: 120px;
    padding-left: 120px;
}

.espacamento {
    padding-bottom: 30px;
}

.form-label {
    display: flex;
}

.form-prontuario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-address {
    display: flex;
    justify-content: space-between;
}

.form-width {
    width: 350px;
}

.medicamento {
    height: 275px;
}

.observacoes {
    width: 760px;
    height: 100px;
}

.cadastrar {
    display: flex;
    justify-content: flex-end;
}

.custombutton {
    width: 300px;
    color: white;
    background-color: #10203c;
}

.custombutton:hover {
    color: black;
    background-color: #A1C6EA;
}



