.rodape {
    background-color: #10203c;
    color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
}

#copyright {
    padding: 40px 0px;
    text-align: center;
}

.nomes {

    text-decoration: none;
    color: #6c757d;
    cursor: pointer;
}

.nomes:hover {
    color: #A1C6EA;
    transition: 0.2s;
}


