.pacientes-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.text-search2 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-search {
    width: 700px;
    height: 40px;
}

.button-search {
    width: auto;
    height: 40px;
    background-color: #10203C;
    color: white;
}

.button-search:hover {
    background-color: #A1C6EA;
    color: black;
}

.tabela {
    display: flex;
    text-align: center;
}
