<body>
    
    <app-header></app-header>

    <div class="pacientes-search">

        <div class="text-search">
            <div class="text-search2">
                <label for="pacientes-table"></label>
                <input class="input-search form-control" type="search" placeholder="Pesquisar" autocomplete="off">
            </div>
                <button type="button" class="btn button-search">Pesquisar</button>
        </div>

        <div class="tabela">
            <p>AQUI FICARÁ A TABELA DOS PACIENTES QUANDO FOR REQUISITADA 
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela
                <br>tabela tabela tabela tabela tabela tabela tabela

            </p>
        </div>
    </div>

    <app-footer></app-footer>

</body>