<body>

<app-header></app-header>

<div class="pogger">

    <div class="dale"></div>

    <div class="conteudo">
        <div class="foto">
            <img class="cachorro" src="/assets/images/cachorro de perfil.jpg" width="300px" height="300px" alt="Foto de Perfil">
        </div>

        <div class="nome">
            <div>
                <h1><strong>Joselito Bora Bill da Silva</strong></h1>
            </div>
            <div>
                <h3>Joselito_bill@gmail.com</h3>
            </div>
            <div>
                <h3>Recepcionista</h3>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
    
</body>